@import "_variables.scss";
@import "_mixins.scss";


.site-footer {
  background-color: #000000;
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  // font-size: 0;
  margin-top: 50px;
  text-align: center;
  width: 100%;

  & * {
    box-sizing: inherit;
    line-height: 24px;
  }

  &::before {
    clear: both;
    content: '';
    display: table;
    table-layout: fixed;
  }

  &::after {
    content: '';
    display: table;
    table-layout: fixed;
  }

  .widget {
    list-style: none;
    margin: 0 0 1.5em;
  }

  .footer-section {
    margin: 30px 0;
  }

  img {
    border: 0 none;
    height: auto;
    max-width: 100%;
  }

  .footer-logos {
    margin: 40px auto 30px;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      list-style: none;
      margin: 5px 10px;
      vertical-align: middle;
      width: 120px;
    }
  }

  .footer-social {
    margin: 20px;
    text-align: center;

    ul {
      list-style: disc;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: 0 5px;
        width: 40px;

        a {
          background-color: transparent;
          outline: 0;
          text-decoration: none;
        }
      }
    }
  }

  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        border-right: 1px solid #FFFFFF;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        position: relative;

        &:last-of-type {
          border: none;
        }

        a {
          color: #FFFFFF;
          display: block;
          outline: 0;
          padding: 0 10px;
          text-decoration: none;
          transition: background 300ms, color 300ms;

          &:active,
          &:hover {
            outline: 0;
            text-decoration: underline;
          }

          &:visited {
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .site-info {
    p {
      color: #CCCCCC;
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 19px;
      padding-top: 30px;

      &.footer-credit {
        margin-bottom: 60px;
        padding-top: 0px;

        a,
        a:active,
        a:hover,
        a:visited {
          color: #FFFFFF;
          text-decoration: underline;
        }
      }
    }
  }
}
