  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';


  /*                         */
 /* Project-specific styles */
/*                         */

.bg-black {
  background-color: #FFFFFF;
  box-shadow: inset -1px -1px 19px -5px #777, 1px 1px 10px #777;
  position: fixed;
  top: 0;
  width: 100%;

  .logo {
    background-image: url('../images/_isoj-logo.png');
    width: 92px;
  }

  #subscribe {
    color: #323232;
  }
}

#content-header {
  margin-top: 52px;
}

.more,
.interactive-footer {
  display: none;
}


$highlight-text: #02C39A;
$panel-background: #05668D;
$panel-text: #F0F3BD;
$grey: #CCC;

.panel {
  display: none;
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: $panel-background;
  overflow-x: hidden;
  color: #FFF;
  padding: 20px 40px;
  padding-top: 60px;

  h2:before {
    content: "🔍 \00a0 ";
  }

  .text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $panel-text;
    display: block;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.panel a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.quote {
  background: #f9f9f9;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  float: right;
  margin-left: 45px;
  margin-right: -175px;
  width: 175px;

  .text {
    padding: 0.75em 10px;
    display: inline;
    display: block;
    width: 100%;
  }

  .header, .subheader {
    width: 100%;
    background-color: $highlight-text;
    color: #FFF;
    display: block;
    text-align: center;
    padding: 0.5em 0;
    font-size: 20px;
    line-height: 24px;
  }

  .search {
    float: left;
    padding: 6px 4px 6px 0;
    margin-left: -20px;
  }

  .subheader {
    font-size: 15px;
  }
}

.quote:before {
  content: "🤔";
  font-size: 40px;
  margin-top: 15px;
  margin-left: -42px;
  position: absolute;
}

.subheader:before {
  content: "🔍 \00a0 ";
}

.quote:hover {
  background-color: #EEE;
}

@media screen and (max-height: 450px) {
  .panel {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}

// Enter your custom styles here.